.container {
  padding: 1rem;
  margin: 100px auto 0;
  width: 700px;

  .mat-card {
    padding: 2rem;
  }

  .mat-form-field {
    padding-bottom: 1rem;
  }

  mat-spinner {
    margin-top: 2rem;
  }

  .no-items {
    margin-top: 2rem;

    h2 {
      margin-bottom: 0;
    }
  }

  .country {
    margin-top: 1rem;

  + .country {
    border-top: 1px solid #e0e0e0;
    padding-top: 1rem;
  }

    h1 {
      text-decoration: underline;
    }

    p {
      display: flex;
    }

    small {
      text-transform: uppercase;
      color: #716d6d;
      font-weight: 500;
      width: 100px;
    }
  }
}
