<div class="container">
  <mat-card>
    <form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter country code</mat-label>
        <input type="search" matInput [formControl]="countrySearch" placeholder="Enter country code" maxlength="3">

        <mat-error *ngIf="countrySearch.hasError('minlength')">
          Please enter between 2-3 characters
        </mat-error>

        <mat-error *ngIf="countrySearch.hasError('incorrectPattern') && !countrySearch.hasError('minlength')">
          Please only enter an ISO code
        </mat-error>
      </mat-form-field>

      <mat-divider></mat-divider>
    </form>

    <mat-spinner color="accent" diameter="50" *ngIf="loadingResults"></mat-spinner>

    <div class="no-items" *ngIf="noResultsMessage">
      <h2>No country matches that code please enter a different 2/3 character ISO code.</h2>
    </div>

    <section *ngIf="countries?.length && !loadingResults">
      <div class="country" *ngFor="let country of countries">
        <h1>{{country.name}}</h1>

        <p *ngIf="country.region.value"><small>Region:</small> {{country.region.value}}</p>
        <p *ngIf="country.capitalCity"><small>Capital City:</small> {{country.capitalCity}}</p>
        <p *ngIf="country.longitude"><small>Longitude:</small> {{country.longitude}}</p>
        <p *ngIf="country.latitude"><small>Latitude:</small> {{country.latitude}}</p>
      </div>
    </section>
  </mat-card>
</div>
